@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800;900&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sono:wght@200;300;400;500;800&display=swap');


:root {
    --primary: #7f69ef;
    --secondary: #672ec9;
    --light-grey: #F5F5F5;
    --medium-grey: #544949;
    --dark-grey: #333333;
    
    --title-1: 1.75rem;
    --title-2: 1.5rem;
    --title-3: 1.25rem;
    --title-4: 1rem;
    --headline: 1rem;
    --body-text: 0.875rem;
    --small-text: 0.7rem;
  }
 
  
  body {
    font-family: 'Josefin slab', sans-serif;
    background-image: radial-gradient(circle at 110% 100%, #ffc9fb 0, #ffbff0 36.67%, #ecb3e2 33.33%, #d2a6d1 50%, #b999bf 66.67%, #a38dae 83.33%, #91829e 100%);
    background-attachment: fixed;
  } 

  input::placeholder {
  color: #360094;
  font-weight: 500;
  font-size: 16px;
  }

  
  
